.main-section {
    text-align: center;
    min-height: calc(100svh);
    margin: auto 2%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    animation: fadeIn 0.42s forwards 1;
    background: url("img/bg-games-opaque-lg.jpg") no-repeat center top 0px fixed;
    background-size: cover;

    .headings {
       flex: 1;
       text-align: center;
       margin-right: 32px;
       padding: 16px;
    }

    .logo {
        margin: auto;
        margin-bottom: $val8;
        display: inline-block;
    }
    
    h1 {
        font-size: 4rem;
        margin-bottom: $val4;
        text-transform: uppercase;

        b {
            color: $accentColor;
        }

        @media all and (max-width: 800px) {
            font-size: 2rem;
        }
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 400;

        @media all and (max-width: 800px) {
            font-size: 1rem;
        }
    }

    .scroll-reveal {
        text-align: center;
    }

    .cta {
        display: inline-block;
    }

    .bottom-bar {
        font-size: 1.5rem;
        margin-top: $val8;
        margin-bottom: $val8;
        align-items: stretch !important;

        @media screen and (max-width: 1200px) {
            .card {
                margin: $val6;
            }
        }

        @media screen and (max-width: 800px) {
            display: block;
            text-align: center;

            .card {
                margin: $val4 $val8;
                display: block !important;
            }
        }

        &.side-by-side {
            justify-content: center;
        }

        .card {
            background-color: $backgroundStartRGB;
            display: flex;
            flex-flow: column wrap;
            text-align: center;
            border-radius: $val2;
            padding: $val6;
            transition: background-position 0.48s cubic-bezier(0.23, 1, 0.320, 1);
            margin-right: 16px;
            min-width: 320px;
            justify-content: center;
            opacity: 0;
            animation: fadeUp 0.32s cubic-bezier(0.19, 1, 0.22, 1) forwards 1;

            &:nth-of-type(1) {
                animation-delay: 0.25s;
            }
            &:nth-of-type(2) {
                animation-delay: 0.35s;
            }
            &:nth-of-type(3) {
                animation-delay: 0.4s;
            }

            &:hover {
                background-position: center bottom 0px;
            }
        
            small {
                font-size: 0.85rem;
                display: table;
                margin: $val4 auto 0px;
        
                a {
                    color: $accentColor;
                    font-size: 1rem;
                }
            }
        
            img {
                max-width: 64px;
                display: table;
                margin: $val6 auto;
            }

            .more-info {
                display: block;
                background-color: $backgroundEndRGB;
                padding: 16px 12px;
                border-radius: 500px;
                max-width: 120px;
                margin: 12px auto auto;

                &:hover {
                    box-shadow: 0px 4px 8px -4px #000;
                }
            }
        }

        .cta {
            font-size: 1rem;
            border: none;
            border-radius: $val2;
            
            &:not(.small) {
                padding: $val4 $val6 * 2;
            }
        }

        .side-by-side {
            align-items: center;
            justify-content: flex-start;
        }
    }
}

.bootup-vid-link-banner {
    background: url('img/boot-videos-bg.png') no-repeat center top 0px fixed;
    background-size: cover;
    margin: auto;
    padding: $val8 * 4 3%;
    box-shadow: 0px 10px 20px -8px #111;

    &:hover {
        border-color: #ff530f;
    }

    h4 {
        color: $accentColor;
        font-size: 1.5rem;
        margin-bottom: $val2;
    }

    h5 {
        font-size: 4rem;
        text-transform: uppercase;
    }

    a {
        display: table;
        width: 65%;
        max-width: 200px;
        text-align: center;
        padding: $val6 $val4;
        border-radius: 500px;
        margin-top: $val6;
    }
}

section.new-features {
    margin: $val8 * 2 auto;
    align-items: center;
    padding: $val4;

    h3 {
        color: $accentColor;
        font-size: clamp(5rem, 2rem, 4rem);
        margin-bottom: $val6;
    }
    p {
        max-width: 500px;
        line-height: 1.5rem;
    }
    .scroll-reveal {
        position: relative;
        border: solid 4px #111;
        border-radius: $val4;
        width: 70%;
        max-width: 800px;
        margin: $val4 $val8 $val4 0px;

    }
}

.screen-full {
    width: 100%;
    margin: auto;
    display: table;
}
