.site-nav.space-between {
    justify-content: space-between;
    
    .sub-nav {
        img {
            width: 40px;
            display: block;
            margin: auto auto 8px auto;
        }
    
        a {
            margin: 16px 24px;
            text-align: center;

            &:hover {
                color: $accentColor;
            }
        }

        @media screen and (max-width: 800px) {
            display: flex;
        }

        @media screen and (max-width: 640px) {
            a {
                font-size: 0px;
                margin: 16px 16px;
            }
        }
    }
}

.card {
    position: relative;
}

.cta {
    &, &:visited {
       color: $backgroundEndRGB;
    }
    font-weight: 600;
    padding: $val4;
    background-color: $accentColor;
    border-radius: $val2;
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.cta.secondary {
    background-color: transparent;
    color: #FFF;
}

.copy-wrapper {
    background-color: $backgroundEndRGB;
    padding: $val2 $val2 $val2 $val4;
    border-radius: 500px;

    input {
        background-color: transparent;
        color: #FFF;
        opacity: 0.45;
        border: none;
        flex: 1 1;
    }

    button.cta {
        padding: $val2 $val6;
        margin-left: $val4;
        border-radius: 500px !important;
    }
}

.skip-btn {
    display: table;
    text-align: center;
    margin: auto auto $val8;
    font-weight: 700;
}