$foregroundRGB: rgb(255, 255, 255);
$backgroundStartRGB: #0c0c0c;
$backgroundEndRGB: #191919;
$accentColor: #ff530f;

$baseVal: 4px;

$val2: $baseVal * 2;
$val4: $baseVal * 4;
$val6: $baseVal * 6;
$val8: $baseVal * 8;