@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

$foregroundRGB: rgb(255, 255, 255);
$backgroundStartRGB: #0c0c0c;
$backgroundEndRGB: #191919;
$accentColor: #ff530f;

$baseVal: 4px;

$val2: $baseVal * 2;
$val4: $baseVal * 4;
$val6: $baseVal * 6;
$val8: $baseVal * 8;


body {
    color: $foregroundRGB;
    background: $backgroundStartRGB url("img/bg-circles.svg") repeat-y center center;
    background-size: 100% auto;
    font-family: 'Mulish', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a, .requirements li a, .requirements li span {
    font-family: 'Akshar', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

a {
    cursor: pointer;

    &, &:visited {
        color: inherit;
        text-decoration: none;
    }
}

.side-by-side {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    flex-flow: row wrap;

    @media all and (max-width: 800px) {
        display: block;
    }
}


.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-item {
    background: url('img/boot-videos-bg.png') no-repeat center bottom -800px;
    background-size: cover;
    background-color: $backgroundStartRGB;
    display: table;
    text-align: center;
    border-radius: $val4;
    padding: $val6;
    border: solid thin $backgroundEndRGB;
    box-shadow: inset 0px -24px 64px -8px #000000;
    transition: background-position 0.48s cubic-bezier(0.23, 1, 0.320, 1);

    &:hover {
        background-position: center bottom 0px;
    }

    small {
        font-size: 0.85rem;
        display: table;
        margin: $val4 auto 0px;

        a {
            color: $accentColor;
            font-size: 1rem;
        }
    }

    img {
        max-width: 64px;
        display: table;
        margin: $val6 auto;
    }
}

.main-section {
    text-align: center;
    min-height: calc(100svh - 64px);
    margin: 32px;
    border-radius: $val6;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    animation: fadeIn 0.42s forwards 1;
    background: url("img/bg-games-opaque-lg.jpg") no-repeat center top 0px;
    background-size: cover;

    .headings {
       flex: 1;
       text-align: center;
       margin-right: 32px;
       padding: 16px;
    }

    .logo {
        margin: auto;
        margin-bottom: $val8;
        display: inline-block;
    }
    
    h1 {
        font-size: 4rem;
        margin-bottom: $val4;
        text-transform: uppercase;

        b {
            color: $accentColor;
        }
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .cta {
        display: inline-block;
        margin-top: $val4;
    }

    .bottom-bar {
        font-size: 1.5rem;
        margin-top: $val8;
        margin-bottom: $val8;
        align-items: stretch;

        &.side-by-side {
            justify-content: center;
        }

        .bar-item {
            margin-right: 16px;
            min-width: 320px;

        }

        .cta {
            font-size: 1rem;
            padding: $val4 $val6 * 2;
            border-radius: $val2;
            border: none;
        }

        .side-by-side {
            align-items: center;
            justify-content: flex-start;
        }
    }
}

h3, h4 {
    b { 
        display: inline-block; 
        background-color: #343434;
        font-weight: 400;
        padding: $val2 $val4;
        border-radius: 500px;
        margin-left: 4px;
        font-size: small;

        &.recommended-tag {
                background-color: $accentColor;
                color: $backgroundStartRGB;
                vertical-align: middle;
        }
    }
}

@keyframes fadeIn {
    from { opacity: 0 }
    to {opacity: 1;}
}

.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  
    &::-webkit-scrollbar {
      background: transparent; /* Chrome/Safari/Webkit */
      width: 0px;
    }
  }

.gallery {
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;

    img {
        display: inline-block;
        height: 240px;
        scroll-snap-align: center;
    }
}

.downloads {
    padding: $val4;
    background-color: rgba(12,12,12,0.63);
    border-radius: $val2;

    #quick-setup, #manual-setup {
        padding: $val4 $val4;

        small {
            font-size: small;
            max-width: 320px;
            line-height: 1.5rem;
            display: table;
            margin: auto;
        }
    }

    #quick-setup {
        button {
            display: table;
            width: 100%;
            max-width: 420px;
            font-size: 1.25rem;
            margin: $val4 auto;
        }

        @media all and (max-width: 900px) {
            button {
                font-size: 1rem;
            }
        }
    }

    #manual-setup {
        margin-top: $val4;

        .cta {
            padding: $val4 $val4;
        }
    }
}

#setup-manual {
    .cta.minor {
        display: table;
        padding: $val4 $val8;
        margin-top: 8px;
    }
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.cta {
    &, &:visited {
       color: $backgroundEndRGB;
    }
    font-weight: 600;
    padding: $val4;
    background-color: $accentColor;
    border-radius: $val2;

    cursor: pointer;

    &:hover {
        background-color: $accentColor;
        color: $backgroundStartRGB;
    }
}

.cta.secondary {
    background-color: transparent;
    color: #FFF;
}

.scroll-reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: 
        opacity 0.72s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        transform 0.72s cubic-bezier(0.215, 0.610, 0.355, 1);

    &.visible {
        opacity: 1;
        transform: translateY(0px);
    }
}

#installation {
    padding: 64px 16px;

    .inner-content {
        max-width: 900px;
        margin: auto;

        .text-content {
            img {
                display: table;
                margin: $val4 auto;
                width: auto;
                max-width: 75%;
            }
        }

        .requirements {            
            li {
                background: $backgroundStartRGB;
                padding: $val6;
                border-radius: $val2;
                margin-bottom: $val4;
                display: flex;
                align-items: center;
                justify-content: center;

                a, span {
                    display: table;
                    padding: $val4 $val8;
                    border-radius: $val4;
                    background-color: $backgroundEndRGB;
                    text-align: center;
                    border: solid 2px transparent;
                    margin-bottom: $val4;
                    margin-right: $val6;
                }

                a:hover {
                    box-shadow: 0px 0px 18px -8px $accentColor;
                    color: $accentColor;
                    border-color: $accentColor;
                }

                a {
                    background: url("img/link-icon.svg") no-repeat center left 16px;
                    background-size: auto 150%;
                    background-color: $backgroundEndRGB;
                }

                p {
                    max-width: 360px;
                }

                @media all and (max-width: 720px) {
                    display: block;

                    a,span {
                        margin-right: auto;
                        margin-bottom: $val4;
                    }
                }
            }
        }

        h2 {
            font-size: 3rem;
            color: $accentColor;
            margin-bottom: $val8;
        }

        h3 {
            font-size: 2rem;
            margin-bottom: $val6;
        }

        h4 {
            font-size: 1.5rem;
        }

        ul {
            padding: $val4 0;
        }

        p {
            line-height: 1.75rem;
            margin: auto;
        }

        code {
            display: table;
        }
    }
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: $backgroundEndRGB;
    padding: 4px;
    color: #FFF;
    text-wrap: wrap;
    word-break: break-all;
}

.content-section {
    margin-top: $val8;
    margin-bottom: $val8;

    h2 {
        text-align: center;
        font-size: 3rem;
        color: $accentColor;
    }

    .screen-1 {
        display: table;
        width: 85%;
        max-width: 1080px;
        margin: $val6 auto;
        border-radius: $val4;
        transition: transform 0.42s cubic-bezier(0.23, 1, 0.320, 1);
    
        &:hover {
            transform: skewY(1deg);
        }
    }

    .images {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        max-width: 970px;
        margin: auto;

        &:hover a {
            opacity: 0.55;

            &:hover {
                opacity: 1;
            }
        }

        a {
            display: block;
            width: 300px;
            height: 180px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: $val2;
            margin: 8px;
            border: solid thin $backgroundEndRGB;
            transition: opacity 0.32s cubic-bezier(0.39, 0.575, 0.565, 1);
        }
    }

}

.video-wrapper {
    margin-top: $val6;
    margin-bottom: $val6;
}
/* Responsive Video Styles */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio (9 / 16 * 100) */
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* Footer Styles */
.footer {
    max-width: 1280px;
    margin-top: 128px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;

    /* Footer Content */
    .footer-content {
        text-align: center;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;

        /* Footer Section */
        .footer-section {
            text-align: left;
            display: inline-block;
            vertical-align: top;
            margin-right: 40px;

            /* Section Title */
            .section-title {
                display: block;
                margin-bottom: 16px;
                font-weight: bold;
            }

            /* List Styles */
            ul {
                list-style-type: none;
                padding: 0;
            }

            li {
                margin-bottom: 8px;
            }

            /* Anchor Styles */
            a {
                color: rgb(255, 255, 255);
                text-decoration: none;
            }

            a:hover {
                color: $accentColor;
            }
        }

        @media all and (max-width: 900px) {
            .footer-section {
                display: block;
                margin-right: auto;
                margin-top: 40px;
            }
        }
    }

    /* Disclaimer Styles */
    .disclaimer {
        font-weight: bold;
        margin-top: 64px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: small;
        text-align: center;
        max-width: 720px;
        line-height: 1.5rem;
    }
}

.bootup-vid-link-banner {
    max-width: 900px;
    background: url('img/boot-videos-bg.png') no-repeat center center;
    background-size: cover;
    display: flex;
    margin: auto;
    padding: $val8 * 3 $val8 $val8;
    border-radius: $val4;
    border: solid 2px #343434;

    &:hover {
        border-color: #ff530f;
    }

    h4 {
        color: $accentColor;
        font-size: 1.5rem;
        margin-bottom: $val2;
    }

    p {
        font-size: 1.25rem;
    }
}

.header-inner {
    max-width: 1440px;
    margin: auto;
    animation: fadeIn 1s forwards 1;
    padding: $val6 $val4;

    .sub-nav {
        gap: $val8;

        a {
            display: block;
            padding: $val4;
            border-bottom: solid 3px transparent;
            transition: border-color 0.32s cubic-bezier(0.39, 0.575, 0.565, 1);

            &:hover {
                color: $accentColor;
                border-color: $accentColor;
            }
        }
    }
}


section.hero {
    background: url('img/boot-videos-bg.png') no-repeat center bottom 0px;
    background-size: cover;
    padding: $val8 * 3 $val8 * 3;
    margin: auto $val6;
    border-radius: $val6;

    h1 {
        font-size: 5rem;
        text-transform: uppercase;
        margin-bottom: $val4;
        margin-top: $val8;
        color: $accentColor;
    }

    h2 {
        font-size: 3rem;
        font-weight: 500;

        & + small {
            font-size: small;
            display: table;
            margin: $val4 auto;
        }
    }
}

section.page-content {
    .text-panel {
        strong {
            font-weight: 700;
            text-transform: uppercase;
            color: $accentColor;
        }

        h5 {
            font-size: 1.5rem;
        }
        ol {
            margin: $val4 $val4 $val8 * 2;
            list-style: decimal-leading-zero;
            
            li {
                margin-bottom: $val4;
            }
        }
    }
}

#bootup-vids {
    header {
        
        text-align: center;

        .logo {
            img {
                max-width: 240px;
                margin: auto;
            }
        }

       

        @media all and (max-width: 800px) {
            h1 {
                font-size: 4rem;
            }

            h2 {
                font-size: 2.5rem;
            }
        }
    }

    #instructions {
        padding: $val8 $val4;

        .text-panel {
            max-width: 512px;
            margin: auto;

            code {
                font-size: small;
            }
        }
    }

    .text-panel {
        padding: $val4;
        margin-bottom: $val4;

        h3 {
            font-size: 2rem;
            margin-bottom: $val4;
        }

        h4 {
            font-size: 1.75rem;
            margin-bottom: $val4;
        }

        ol {
            list-style-type: decimal-leading-zero;
            margin-left: $val6;


            li {
                margin-bottom: $val4;
                line-height: $val6;
            }
        }

        code {
            display: table;
            margin-top: $val2;
        }
    }

    #videos {
        max-width: 1440px;
        margin: auto;

        ul {
            gap: 16px;

             .video-preview {
                max-width: 480px;
                margin: auto auto $val6;
                padding: 16px;

                .video-container {
                    border-radius: $val4;
                    margin: auto auto $val4;
                    max-width: 480px;
                    padding-bottom: 270px;
                }

                .details {
                    h3 {
                        font-size: 2rem;
                        line-height: 2.25rem;
                        margin-bottom: $val4;
                    }

                    a, button {
                        margin: 4px auto;
                        display: block;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}