@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "/src/styles/reset";
@import "/src/styles/variables";
@import "/src/styles/shared";
@import "/src/styles/animations";

@import "/src/styles/home";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


body {
    color: $foregroundRGB;
    background: $backgroundStartRGB url("img/bg-blur.png") repeat-y center center;
    background-size: 100% auto;
    font-family: 'Mulish', sans-serif;
    overflow: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a, .requirements li a, .requirements li span {
    font-family: 'Akshar', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

a {
    cursor: pointer;

    &, &:visited {
        color: inherit;
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

.side-by-side {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    flex-flow: row wrap;

    @media all and (max-width: 800px) {
        display: block;
    }
}


.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3, h4 {
    b { 
        display: inline-block; 
        background-color: #343434;
        font-weight: 400;
        padding: $val2 $val4;
        border-radius: 500px;
        margin-left: 4px;
        font-size: small;

        &.recommended-tag {
                background-color: $accentColor;
                color: $backgroundStartRGB;
                vertical-align: middle;
        }
    }
}

ol {
   list-style: none;
   counter-reset: item;
   
   li {
     counter-increment: item;
     margin-bottom: 5px;
   }
   li:before {
     margin-right: $val4;
     content: "Step 0" counter(item);
   }
 }

.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  
    &::-webkit-scrollbar {
      background: transparent; /* Chrome/Safari/Webkit */
      width: 0px;
    }
  }

.gallery {
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    margin-top: -140px;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;

    img {
        display: inline-block;
        height: 240px;
        scroll-snap-align: center;
        margin: $val4;
        border-radius: $val2;

        opacity: 0;
        box-shadow: 0px -10px 18px -8px #010101;
        animation: fadeIn 0.32s forwards 1;
    }
}

.text-panel:not(.no-shrink) {
    max-width: 900px;
    margin: auto;

    ol {
        width: 100%;
        box-sizing: border-box;
        margin: auto;
        padding: 32px 0px;

        li {
            margin: $val4 auto;
            border-left: solid 4px $accentColor;
            background-color: $backgroundStartRGB;
            padding: $val6;
            flex: 1 1;
            min-width: 180px;

            &:before {
                display: block;
                margin-bottom: $val4;
            }
        }
    }
}

#setup-manual {
    .cta.minor {
        display: table;
        padding: $val4 $val8;
        margin-top: 8px;
    }
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.scroll-reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: 
        opacity 0.72s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        transform 0.72s cubic-bezier(0.215, 0.610, 0.355, 1);

    &.visible {
        opacity: 1;
        transform: translateY(0px);
    }
}

#installation {
    padding: 64px 16px;

    .inner-content {
        max-width: 1600px;
        margin: auto;

        .text-content {
            img {
                display: table;
                margin: $val4 auto;
                width: auto;
                max-width: 75%;
            }
        }

        ul.requirements {     
            list-style-type: none;
            align-items: stretch;

            li {
                background: $backgroundStartRGB;
                padding: $val6;
                border-left: solid 5px $accentColor;
                flex: 1 2;

                margin: $val4;

                &:nth-last-of-type(1) {
                    margin-right: auto;
                }

                &:nth-of-type(1) {
                    margin-left: auto;
                }
                
                li:before {
                    content: none;
                }

                h4 {
                    margin-bottom: $val6;
                }

                .copy-wrapper {
                    margin-left: 0px;
                    margin-right: 8px;
                    width: 85%;
                    max-width: 320px;

                    input {
                        max-width: 55%;
                    }
                }
                
                .bottom {
                    margin-top: $val6;
                }

                a, span {
                    display: table;
                    padding: $val4 $val8;
                    border-radius: $val4;
                    background-color: $backgroundEndRGB;
                    text-align: center;
                    border: solid 2px transparent;
                    margin-top: $val4;
                    margin-right: $val6;
                }

                a:hover {
                    box-shadow: 0px 0px 18px -8px $accentColor;
                    color: $accentColor;
                    border-color: $accentColor;
                }

                a {
                    background: url("img/link-icon.svg") no-repeat center left 16px;
                    background-size: auto 150%;
                    background-color: $backgroundEndRGB;
                }

            }
            
            @media all and (max-width: 900px) {
                &.side-by-side, li { display: block; }

                a,span {
                    margin-right: auto;
                    margin-bottom: $val4;
                }
            }
        }

        h2 {
            font-size: 3rem;
            color: $accentColor;
            margin-bottom: $val8;
        }

        h3 {
            font-size: 2rem;
            margin-bottom: $val6;
        }

        h4 {
            font-size: 1.5rem;
        }

        ul {
            padding: $val4 0;
        }

        p {
            line-height: 1.75rem;
            margin: auto;
        }

        code {
            display: table;
        }
    }
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: $backgroundEndRGB;
    padding: 4px;
    color: #FFF;
    text-wrap: wrap;
    word-break: break-all;
}

.content-section {
    margin-top: $val8;
    margin-bottom: $val8;

    h2 {
        text-align: center;
        font-size: 3rem;
        color: $accentColor;
    }

    .screen-1 {
        display: table;
        width: 85%;
        max-width: 1080px;
        margin: $val6 auto;
        border-radius: $val4;
        transition: transform 0.42s cubic-bezier(0.23, 1, 0.320, 1);
    
        &:hover {
            transform: skewY(1deg);
        }
    }

    .images {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        max-width: 970px;
        margin: auto;

        &:hover a {
            opacity: 0.55;

            &:hover {
                opacity: 1;
            }
        }

        a {
            display: block;
            width: 300px;
            height: 180px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: $val2;
            margin: 8px;
            border: solid thin $backgroundEndRGB;
            transition: opacity 0.32s cubic-bezier(0.39, 0.575, 0.565, 1);
        }
    }

}

.video-wrapper {
    margin-top: $val6;
    margin-bottom: $val6;
}
/* Responsive Video Styles */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio (9 / 16 * 100) */
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* Footer Styles */
.footer {
    max-width: 1280px;
    margin-top: 128px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;

    /* Footer Content */
    .footer-content {
        text-align: center;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;

        /* Footer Section */
        .footer-section {
            text-align: left;
            display: inline-block;
            vertical-align: top;
            margin-right: 40px;

            /* Section Title */
            .section-title {
                display: block;
                margin-bottom: 16px;
                font-weight: bold;
            }

            /* List Styles */
            ul {
                list-style-type: none;
                padding: 0;
            }

            li {
                margin-bottom: 8px;
            }

            /* Anchor Styles */
            a {
                color: rgb(255, 255, 255);
                text-decoration: none;
            }

            a:hover {
                color: $accentColor;
            }
        }

        @media all and (max-width: 900px) {
            .footer-section {
                display: block;
                margin-right: auto;
                margin-top: 40px;
            }
        }
    }

    /* Disclaimer Styles */
    .disclaimer {
        font-weight: bold;
        margin-top: 64px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: small;
        text-align: center;
        max-width: 720px;
        line-height: 1.5rem;
    }
}

.header-inner {
    max-width: 1440px;
    margin: auto;
    animation: fadeIn 1s forwards 1;
    padding: $val6 $val4;

    .sub-nav {
        gap: $val8;

        a {
            display: block;
            padding: $val4;
            border-bottom: solid 3px transparent;
            transition: border-color 0.32s cubic-bezier(0.39, 0.575, 0.565, 1);

            &:hover {
                color: $accentColor;
                border-color: $accentColor;
            }
        }
    }
}


section.hero {
    background: url('img/boot-videos-bg.png') no-repeat center bottom 0px;
    background-size: cover;
    padding: 4%;
    margin: auto $val6;
    border-radius: 0px 0px $val6 $val6;

    animation: fadeDown 0.64s cubic-bezier(0.23, 1, 0.320, 1) forwards 1;

    .logo {
        max-width: 180px;
        position: relative;
        display: block;

        img {
            margin: auto;
        }
    }

    .release-stats {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        & > * {
            margin-right: $val6;

            b { font-size: small; display: block; margin-bottom: $val2;color: $accentColor; font-weight: 600; text-transform: uppercase; }
        }
    }

    h1 {
        font-size: 5rem;
        text-transform: uppercase;
        margin-bottom: $val4;
        margin-top: $val8;
        color: $accentColor;
    }

    h2 {
        font-size: 3rem;
        font-weight: 500;

        & + small {
            font-size: small;
            display: table;
            margin: $val4 auto;
        }
    }
    
    h1, h2 { transition: font-size 0.32s cubic-bezier(0.19, 1, 0.22, 1); }
    
    @media all and (max-width: 900px) {
        margin: auto;
        h1 {
            font-size: 3rem;
            margin-bottom: $val2;
        }

        h2 {
            font-size: 2rem;
        }
    }
}

section.page-content {
    .text-panel {
        strong {
            font-weight: 700;
            text-transform: uppercase;
            color: $accentColor;
        }

        h5 {
            font-size: 1.5rem;
        }
        ol {
            margin: $val4 auto $val8 * 2;
            display: table;
            padding: $val4;
            border-radius: $val2;
            
            li {
                text-align: left;
                font-size: 1rem;
                line-height: 1.5rem;
            }
            
            li:before {
                font-weight: bolder;
                font-size: 1.25rem;
                font-family: 'Akshar', sans-serif;
                color: #ff530f;
                display: block;
            }
        }
    }
}

#bootup-vids {
    header {
        text-align: center;
       
        @media all and (max-width: 800px) {
            h1 {
                font-size: 4rem;
            }

            h2 {
                font-size: 2.5rem;
            }
        }
    }

    #instructions {
        padding: $val8 $val4;

        .text-panel {

            code {
                font-size: small;
            }
        }
    }

    .text-panel {
        code {
            display: table;
            margin-top: $val2;
        }
    }

    #videos {
        max-width: 1440px;
        margin: auto;

        ul {
            gap: 16px;

             .video-preview {
                max-width: 480px;
                margin: auto auto $val6;
                padding: 16px;

                .video-container {
                    border-radius: $val4;
                    margin: auto auto $val4;
                    max-width: 480px;
                    padding-bottom: 270px;
                }

                .btns {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    button {
                        margin-right: $val4;
                    }
                }

                .details {
                    h3 {
                        font-size: 2rem;
                        line-height: 2.25rem;
                        margin-bottom: $val4;
                    }

                    a, button {
                        display: block;
                        text-align: center;
                        width: 100%;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}

.tabs {
    margin-top: $val6;

    .cta {
        border-radius: 0px;
        font-size: 1.25rem;
    }
}