@import "./variables";

#hero.theme,
.standard-page #hero {
    padding: 2.5% 5%;
    min-height: 270px !important;

    h1 {
        font-size: 5rem;
        margin-top: 5%;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 24px;
    }

    .details {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-left: -16px;

        .detail {
            margin: 16px;

            strong {
                color: $accent-color;
            }
        }
    }

    & + .flex {
        flex-flow: row wrap;
        justify-content: center;

        @media all and (max-width: 900px) {
            display: block;
        }
    }

    @media all and (max-width: 640px) {
        padding-bottom: 10%;

        h1 {
            font-size: 3rem !important;
            line-height: 3rem;
        }

        h2 {
            font-size: 2rem;
        }
    }
}

.ui-theme-content {
    padding: 2.5% 5%;

    a:not(.cta) {
        text-decoration: underline;

        &:hover {
            color: $accent-color;
        }
    }

    .with-tabs {
        flex-flow: row wrap;

        .cta {
            font-size: 1rem;
            padding: 8px 24px;
            margin: 4px;
        }
    }

    p {
        line-height: 1.5rem;
        margin-top: 8px;
    }

    ul {

        li {
            margin-bottom: 12px;
        }
    }

    @media all and (max-width: 720px) {
        padding: 2.5% 12px;

        .with-tabs {
            .cta {
                padding: 6px 16px;
                margin: 2px;
            }
        }
    }

    @media all and (max-width: 480px) {
        .with-tabs {
            display: block;

            .flex.space-b {
                justify-content: flex-start;
                margin-top: 8px;

                .cta {
                    flex: 1 1;
                }
            }
        }
    }
}

.prereq {
    border-radius: 4px;
    padding-left: 16px;
    border: solid thin $light-dark;
    padding-bottom: 16px;
    margin-top: 16px;
}

.note {
    background-color: rgb(35, 108, 255);
    color: rgb(20, 6, 40);
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 8px;

    code {
        background-color: rgb(30, 98, 232);
        font-size: 1rem;
        color: rgb(20, 6, 40);
        font-weight: bolder;
        display: table;
        padding: 4px;
    }
}

.install {
    padding: 0px 24px 24px 24px;
    flex: 1 1 45%;
    max-width: 720px;

    &.per-platform {
        max-height: 640px;
        overflow: auto;
    }

    background-color: $mid-dark;
    margin: 16px auto;
    border-radius: 8px;

    & > .cta {
        display: table;
        text-align: center;
        width: 100%;
        line-height: unset;
        margin-top: 24px;
        margin-bottom: 24px;
        font-weight: 500;
    }

    h2 {
        font-size: 2rem;
        color: $accent-color;
        z-index: 3;
        position: sticky;
        top: 0px;
        background-color: $mid-dark;
        padding: 16px 0px 16px 0px;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
        margin-top: 16px;
        margin-bottom: 8px;
    }

    h5 {
        font-size: 1rem;
        margin-top: 16px;
        margin-bottom: 8px;
        font-weight: 400;
    }

    .copy-wrapper {
        max-width: 320px;
        padding-left: 16px;
        font-size: small;
        margin-bottom: 24px;
        margin-top: 24px;
        background-color: $darkest;
        box-shadow: none;
    }

    @media all and (max-width: 720px) {
        padding: 0px 16px 16px;

        h2 {
            font-size: 1.5rem;
        }
    }
}

ul.link-box {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: $light-dark;
    margin: 24px auto 24px 0px;
    border-radius: 16px;
    flex-flow: row wrap;
    
    li {
        text-align: center;
        padding: 24px 32px;
        margin-bottom: auto;

        .cta {
            padding: 8px 16px;
            font-size: small;
            display: table;
            margin: 16px auto auto;
            border-radius: 8px;
            width: 100%;
        }
    }
}

code {
    background-color: $light-dark;
    color: $lightest;
    font-family: monospace;
}